# 当前激活的项目
ACTIVE_PROJECT=monad

# Twitter 认证信息
TWITTER_COOKIE=
TWITTER_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
TWITTER_AUTHORIZATION=
TWITTER_PROXY=

# Gemini API Key（用于推文生成、评论）
GEMINI_API_KEY=
# 多个 Gemini Key 请用逗号分隔
GEMINI_API_KEYS=

